.container {
    border: 2px solid black;
}


.box1 {
    width: 100px;
    height: 100px;
    background-color: rgb(240, 16, 16);
    margin-bottom: 50px;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: rgb(27, 142, 209);
    margin-left: 50px; 
}