<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Ecommerce</a>
    <div>
      <a *ngIf="!authService.getToken()" class="btn btn-outline-light m-1" routerLink="/login">Login</a>
      <a *ngIf="!authService.getToken()" class="btn btn-outline-light m-1" routerLink="/signup">Signup</a>
      <button *ngIf="authService.getToken()" class="btn btn-outline-light m-1" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
