body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    text-align: center;
    width: 300px;
}

input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buttons button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    background-color: rgb(50, 166, 50);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.buttons button:hover {
    background-color: rgb(50, 166, 50);
}

#result {
    font-weight: bold;
    margin-top: 15px;
}