<!-- <div class="product-list">
  <button (click)="addProduct()">Add Product</button>
  @for (product of products; track $index) {
    <div class="product-info">
      <h3>{{ product.id }}</h3>
      <h3>{{ product.name }}</h3>
      <p>{{ product.category }}</p>
      <p>{{ product.price }}</p>
      <a [routerLink]="['/productedit/', product.id]">Edit</a>
      <a [routerLink]="['/productdelete/', product.id]">Delete</a>
    </div>
  }
</div> -->



<div class="product-list">
  <button (click)="addProduct()">Add Product</button>
@for (product of products; track product.id) {
    <div class="product-info">
      <h3 class="product-name">{{ product.id }}</h3>
      <h3 class="product-name">{{ product.name }}</h3>
      <p class="product-meta">Category: {{ product.category }}</p>
      <p class="product-meta">Price: {{ product.price }}</p>
      <p class="product-meta">Qty: {{ product.qty }}</p>
      <a [routerLink]="['/productedit/',product.id]">Edit</a>
      <a [routerLink]="['/productdelete/',product.id]">Delete</a>
    </div>
  }
</div>
