.container {
    width: 400px;
    height: 200px;
    border: 2px black;
   
}

.box {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    color: white;
}

.box1 {
    background-color: tomato;
    margin: 10px;
}

.box2 {
    background-color: steelblue;
    margin-left: 150px; 
    margin-top: -50px;  
}
